.header__square-pic {
  margin: 0;
  padding: 0;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  background-color: #2f80ed;
  animation-name: rotation;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-timing-function: linear;
}